body {
  background-color: black;
  font-family: Helvetica;
  font-size: 18px;
}


.logoimage {
  background-color: black;
  padding: 0.66rem 0.66rem;
}

h1, h2, h3, p, h4 {
  color: white;
}

#menu {
  background-color: firebrick;
  color: white;
  padding: 0.75rem 0.75rem;
}

#newarrival {
  color: white;
}
