body {
  background-color: black;
  font-family: Helvetica;
  font-size: 18px;
}

.container {
  width: 960px;
  margin: 0px auto;
}

h1, h2, h3, p, h4, h5, h6 {
  color: white;
}

h6 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 0.25rem;
}

h5 {
  padding-top: 2rem;
  padding-bottom: 0.25rem;
  padding-left: 3rem;
  font-size: 1rem;
  font-weight: bold;
}

h1 {
  padding-bottom: 0.66rem;
  padding-top: 0.66rem;
  padding-left: 1rem;
  font-size: 1rem;
}

/* Header */

#logoimage {
  background-color: black;
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

#mainbanner {
  position: relative;
  padding-top: 75px;
}

.middlebox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 7.5rem;
}

/* Menu */

nav {
  background-color: firebrick;
  color: white;
  padding: 0.75rem 0.75rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

#newarrival {
  color: white;
  position: absolute;
  background-color: black;
  top: 300px;
  padding-top: 9rem;
  width: 30rem;
}

/* Second Half of the Page */

.picsofitems {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.businessimages {
  width: 30%;
}

.desciption {
  display: block;
  padding: 0.5rem;
  background-color: black;
  color: white;
  text-align: center;
}

#individualpics {
  background-color: black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/pen.png);
  background-size: 9rem;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 15px;
}

#individualpics2 {
  background-color: black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/watch.png);
  background-size: 9rem;
  background-repeat: no-repeat;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
}

#individualpics3 {
  background-color: black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/glasses.png);
  background-repeat: no-repeat;
  background-size: 9rem;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 15px;
}

.operation {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#location {
  width: 35%;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

#hours {

}
/* Footer */

h4 {
  text-align: left;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 7.5rem;
}
